.orange {
  color: #000000;
  background-color: #FFF3E0;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 4px 4px 0 0;
}
.orange[aria-selected='true'] {
  border-bottom-color: #FF8C00;
  background-color: #FFE0B2;
}

.blue {
  color: #000000;
  background-color: #E3F2FD;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 4px 4px 0 0;
}
.blue[aria-selected='true'] {
  border-bottom-color: #1976D2;
  background-color: #BBDEFB;
}

.green {
  color: #000000;
  background-color: #E8F5E9;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 4px 4px 0 0;
}
.green[aria-selected='true'] {
  border-bottom-color: #2E7D32;
  background-color: #C8E6C9;
}